@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #313338; /* Discord dark theme background */
  color: #dbdee1; /* Discord text color */
}
